<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <div class="form">
            <h1>Dojo Survey</h1>
        <form action="/get_info" method="post">
            <p>Your Name: </p><input type="text" name="name">
            <p>Dojo Location: </p><select name="dojo_location" id="dojo_location">
                <option value="San Jose">San Jose</option>
                <option value="Online">Online</option>
                <option value="Chicago">Chicago</option>
            </select>
            <p>Favorite Language: </p> <select name="language" id="language">
                <option value="Python">Python</option>
                <option value="JavaScript">JavaScript</option>
                <option value="HTML/CSS">HTML/CSS</option>
                <option value="C#">C#</option>
            </select>
            <p>Comment (optional)</p><textarea name="comment" id="comment" cols="30" rows="4"></textarea>
            <div class="center">
            <button id="submit">Submit</button>
            </div>
        </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>